*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.dropdown {
    float:right;
    padding-top: 1%;
    padding-right: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .drop-btn {
    background-color: black;
    color: white;
}

.w3-xlarge fa fa-user{
    float: right;
    color: white;
    margin: auto;
}

#user {
    padding-left: 40%;
}

#home{
    float: right;
    text-align: center;
    padding-right: 2%;
    padding-top: 0.9%;

}

#nameOfUser {
    color: white;
    font-family: "Bookman Old Style";
}


