.search-history {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.8) 20%);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.search-history {
    max-width: 800px;
    margin: 20px auto;
}

#searchHistory {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#searchHistory thead {
    background: linear-gradient(to right, #ff105f, #ff105f, #ffad06);
}

#searchHistory th, #searchHistory td, #searchHistory tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(161, 5, 161);
}

#searchHistoryHeading {
    color: white;
    text-align: center;
    font-family: "Cooper Black";
}

#tableBody {
    color: white;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* MODAL BOX CSS */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 25%;
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10%;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
