<!DOCTYPE html>
<html lang="en">
<head>
    <title>BuyAdvisor</title>
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="static/css/logo.css">
    <style type="text/css">
        .content{
            float: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon" onclick="location.href='/'">
               <h2 class="logo">BuyAdvisor</h2>
                <p class="tagline">We Advise, You Buy!</p>
            </div>
            <div class="btn">
                <button class="loginBtn" onclick="location.href='/login'">Log in / Register</button>
            </div>
        </div>

        <div class="content">
            <p class= "par" style = "background-color: rgba(0, 0, 0, 0.4); padding: 0.5%">
                <span> <!--BuyAdvisor: </span> --> Your Ultimate Shopping Assistant!</span> Sifting through overwhelming,
                     prejudiced, and untrustworthy product reviews is a hard   undertaking in the age of internet buying.
                     We recognize the time and effort required to make intelligent choices. That's why our website uses
                     cutting-edge technologies to evaluate  product reviews, assigning a score to each product to make
                     your purchasing decisions easier. Bid farewell to uncertainty and hello to  efficient, effective purchasing!
                     Trust BuyAdvisor to save time and make better decisions.<br>
            </p>
        </div>
    </div>
</body>
</html>