{% extends "dashboard.html" %}
{% block head %}
    <title>Search History</title>
    <link rel="stylesheet" href="../static/css/searchHistory.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}
    <!-- Search History Table -->
    <div class="search-history" id="searchHistoryDiv">
        <h2 id="searchHistoryHeading">Search History</h2>
        <p style="color: red; font-style: italic; text-align: center; visibility: hidden" id="messageValidation">
            {% with messages = get_flashed_messages(category_filter=["Error"]) %}
                {% if messages %}
                  {{ messages[0] }}
                {% endif %}
            {% endwith %}
        </p>
        <table id="searchHistory">
            <thead>
                <tr>
                    <th style="text-align:center;">ASIN</th>
                    <th style="text-align:center;">Name</th>
                    <th style="text-align:center;">Review</th>
                    <th style="text-align:center;">URL</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
    <div>
        <p id="tableContents" style="visibility: hidden">
            {% with messages = get_flashed_messages(category_filter=["Info"]) %}
                {% if messages %}
                    {%- for msg in messages %}
                        {{ msg }}
                    {% endfor -%}
                {% endif %}
            {% endwith %}
        </p>
    </div>
    <input type="text" id="urlCopy" hidden>
    <script>
        var modal = document.getElementById("Modal");
        var modal3 = document.getElementById("Modal3");
        var span1 = document.getElementsByClassName("close")[0];
        var span2 = document.getElementsByClassName("close")[1];
        var span3 = document.getElementsByClassName("close")[2];
        var flag = 0;
        document.getElementById("messageValidation").style.visibility = "hidden";

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
          modal.style.display = "none";
          redirectPage();
        }

        span3.onclick = function() {
          modal3.style.display = "none";
          redirectPage();
        }

        // When the user clicks anywhere outside the modal, close it
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
                redirectPage();
            }
            else if (event.target === modal3) {
                modal3.style.display = "none";
                redirectPage();
            }
        }

        var message = document.getElementById("messageValidation").innerHTML;
        var message2 = document.getElementById("tableContents").innerHTML;

        if(message.includes("No Recent Searches")){
            document.getElementById("msg").innerHTML = message+"...";
            document.getElementById("msg").style.color = "darkgreen";
            document.getElementById("error_icon").style.color = "darkgreen";
            document.getElementById("searchHistoryDiv").style.display = "none";
            modal.style.display = "block";
            flag = 1;
        }

        if(message2.includes("https://")){
            var len = message2.length;
            message2 = message2.substring(1,len-1);
            message2 = message2.replaceAll("&lt;","<");
            message2 = message2.replaceAll("&gt;",">");
            message2 = message2.replaceAll("&quote;","\"");
            message2 = message2.replaceAll("the wheel on this one! ","the wheel on this one! &#128521;")
            document.getElementById("tableBody").innerHTML = message2;
            flag = 0;
        }

        function redirectPage(){
            if (flag === 1)
                location.href = "/dashboard"
        }

        function displayModal(message){
            if(message.includes("https://www.amazon.com/dp/")) {
                document.getElementById("displayClipboard").style.visibility = "visible";
                document.getElementById("copiedMsg").style.visibility = "hidden";
            }
            else{
                document.getElementById("displayClipboard").style.visibility = "hidden";
                document.getElementById("copiedMsg").style.visibility = "hidden";
            }
            document.getElementById("msg3").innerHTML = message;
            document.getElementById("msg3").style.color = "maroon";
            modal3.style.display = "block";
            flag = 0;
        }

        function copyToClipboard(){

            var copyText = document.getElementById("msg3").innerHTML;
            var elem = document.getElementById("urlCopy");
            elem.value = copyText;
            elem.select();
            elem.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(elem.value);

            document.getElementById("displayClipboard").style.visibility = "hidden";
            document.getElementById("copiedMsg").style.visibility = "visible";
            setTimeout(function(){
                modal3.style.display = "none";
                redirectPage();
            },1500);

        }

    </script>

{% endblock %}