<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search History</title>
</head>

<body>
<div class="main">
    <div class="navbar">
        <div class="icon">
           <h2 class="logo">BuyAdvisor</h2>
            <p class="tagline">WE ADVICE, YOU BUY!</p>
        </div>  

<!-- Search History Table -->
<div class="search-history">
    <h2>Search History</h2>
    <div class="boxcontainer">
        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Score</th>
                <th>Product URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product A</td>
                <td class="positive">60% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product B</td>
                <td class="negative">60% Negative</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product C</td>
                <td class="negative">70% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product D</td>
                <td class="neutral">Neutral</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product E</td>
                <td class="negative">60% Negative</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product F</td>
                <td class="negative">50% Negative</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product G</td>
                <td class="negative">70% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product H</td>
                <td class="negative">70% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product I</td>
                <td class="negative">70% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
            <tr>
                <td>Product J</td>
                <td class="negative">90% Positive</td>
                <td><a href="#" target="_blank">View Product</a></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
